[Bug/Feature?] HTTP 206 Multipart Byterange (Multiple HTTP Range response)

Not sure if this is a bug or a feature? 

Requests happily will build and parse an HTTP GET with the ```Range:``` header to request specific bytes from a server. (Assuming the server supports it, of course.)

Specifically, setting the header to say:

```python 
headers = {'Range':  'bytes 0-100, 1000-2000'} 
```

See [the Mozilla HTTP reference on HTTP Range](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Range) for some more examples. 

However, supplying a list of ranges in the request causes response processing to break down - the response is there, but it's not fully parsed: per [RFC 7233 Section 4.1](https://tools.ietf.org/html/rfc7233#section-4.1) the server *MUST* respond with a ```Content-Type:``` of ```multipart/byteranges``` and the associated boundary parameter that separates the ranges. In the raw response, each range is separated by the boundary parameter and then has a few small headers for each of the ranges in the response. 

## Expected Result

Parsing of the returned individual ranges into something usable - perhaps one of the following:
- A collection of some sort that contains the individual parsed headers and range data (this might be a bigger way to do it - instead of a Response object, perhaps a MultipartResponse that then parses the individual headers and allows access to the separate ranges)
- At a minimum, transparent concatenation of the response data into a contiguous stream that can be accessed/iterated as a normal response can.   

## Actual Result

The response data contains the unparsed/unseparated ranges of data instead of header parsed data.

## Reproduction Steps

```python
import requests as req

headers={'Range':  'bytes 0-100, 1000-2000'} 

response = req.get('<Some URL from a server that supports range>', headers=headers)

response.content  

```

## System Information

Tested on Python 3.8/3.9 - Linux - Requests v2.25.0, urllib3 1.26.2


This would be a feature request and the project is presently under a feature freeze. To handle Multipart responses you can use the toolbelt's multipart decoder to accomplish much of this yourself.