we can add `=` to the list of safe chars, as long as it doesn't have any negative implications. That's the whole reason oreos exists right now.


Yeah, that would definitely fix it for me. But I guess I'm confused as to why it's ever necessary/desired to quote a cookie's value. Why would we ever want a client to submit a cookie to the server that's not exactly what the server sent to the client?


The reason it's necessary/desired is that [RFC 2965](http://www.ietf.org/rfc/rfc2965.txt) requires that a cookie value either be a token, [which may not contain an '=' character](http://www.ietf.org/rfc/rfc2068.txt), or a quoted string. If the server isn't quoting the string, the server is non-compliant. As @kennethreitz says, Oreos already allows non-RFC-compliant characters in cookie keys because they're commonly sent out.


Well it doesn't seem to break any of the test suite if I add = to the _RFC2965Forbidden list. Oreos accepts them in the cookie key in _CookiePattern, so everything should be fine.


Let's do it.


This issue is a duplicate of #286


Thanks for the explanation and the fix!  Adding "=" into the LegalChars solves my problem just fine.

Upon further reading through the specs, though, I still think that request's handling/expectations of cookies isn't quite right.  [RFC2965](http://www.ietf.org/rfc/rfc2965.txt) is the spec for "new-style" cookies, but it acknowledges (in section 9) that "old-style" cookies may still be in use by some servers.  The spec for old-style cookies is the ["Netscape spec"](http://curl.haxx.se/rfc/cookie_spec.html).  New-style cookies are sent from a server via the **Set-Cookie2** header; RFC2965 specifies that their values can contain only the characters you specify (e.g., not "="), or else they need to be quoted.  Old-style cookies are sent from a server via the **Set-Cookie** header; the Netscape spec specifies that these cookies are _not_ quoted, and their value is "a sequence of characters excluding semi-colon, comma and white space".

Apparently RFC2965 and new-style cookies haven't been widely adopted.  And it appears that requests doesn't even check for the Set-Cookie2 header; it just takes the cookie from the Set-Cookie header.  So requests shouldn't expect that what it gets in the Set-Cookie header should be an RFC2965-compliant cookie, just a Netscape spec-compliant cookie.  And it should return this cookie back to the server unchanged (i.e., unquoted).  (And this would match with the way browsers seem to be handling these "=" containing cookies.)

Note further that [RFC6265](http://tools.ietf.org/html/rfc6265) obsoletes RFC2965 (eesh).  RFC6265 acknowledges that Set-Cookie2 cookies never caught on in practice.

[This StackOverflow thread](http://stackoverflow.com/questions/577191/what-is-the-current-state-of-the-cookie2-specification) is also helpful.  It states that most browsers still only support the initial Netscape spec.

So the cookie specs over time have been Netscape spec -> RFC2109 -> RFC2965 -> RFC6265, but it's really only the Netscape spec that's been widely adopted.


First, props for the time you clearly had to spend delving through IETF specs. Reading them usually makes me want to gouge my eyes out with a spoon, so thanks for doing the research for me. =D

So, my reading of RFC6265 is that valid cookie chars are any ASCII char excepting comma, colon, backslash, double-quote, control characters and whitespace, and any ASCII percent-encoding that does not give a comma, colon, backslash, double-quote or control characters. A valid cookie key is made up of these chars or a quoted version of them.

Does that agree with other people's reading of this spec?


I just looked at 6265 again, remembering [not to take the cork off the fork](http://www.youtube.com/watch?v=nqMc9B7uDV8), and yes, that's the way I read it too. :)


Hmm, is this resolved?

```
>>> import requests
>>> print requests.get('http://httpbin.org/headers', cookies={"this_is_a": "slash/"}).text
{
  "headers": {
    "Content-Length": "", 
    "Accept-Encoding": "identity, deflate, compress, gzip", 
    "Connection": "keep-alive", 
    "Accept": "*/*", 
    "User-Agent": "python-requests/0.12.0", 
    "Host": "httpbin.org", 
    "Cookie": "this_is_a=slash/", 
    "Content-Type": ""
  }
}
>>> print requests.get('http://httpbin.org/headers', cookies={"this_is_a": "equals=sign"}).text
{
  "headers": {
    "Content-Length": "", 
    "Accept-Encoding": "identity, deflate, compress, gzip", 
    "Connection": "keep-alive", 
    "Accept": "*/*", 
    "User-Agent": "python-requests/0.12.0", 
    "Host": "httpbin.org", 
    "Cookie": "this_is_a=equals=sign", 
    "Content-Type": ""
  }
}
```

```
>>> import requests
>>> c = requests.get('http://httpbin.org/headers', cookies={"this_is_a": "equals=sign"}).cookies
>>> c = requests.get('http://httpbin.org/cookies', cookies=c).cookies
>>> print c
<<class 'requests.cookies.RequestsCookieJar'>[<Cookie this_is_a=equals=sign for />]>
>>> print c['this_is_a']
equals=sign
```

I'm not sure if these test cases are relevant and right, though.


looks good to me ;)
