Implicit JSON Content-Type is missing charset

This code in `requests/models.py`:

```python
            content_type = 'application/json'
            body = complexjson.dumps(json)
            if not isinstance(body, bytes):
                body = body.encode('utf-8')
# ...
            # Add content-type if it wasn't explicitly provided.
            if content_type and ('content-type' not in self.headers):
                self.headers['Content-Type'] = content_type
```

has an incomplete `Content-Type`.

## Expected Result

That `Content-Type` be `application/json; charset=utf-8`

## Actual Result

`Content-Type` is only `application/json`

## Reproduction Steps

Make any request passing `json={}` and without explicitly setting any headers.

## System Information

    $ python -m requests.help

```
{
  "chardet": {
    "version": "3.0.4"
  },
  "cryptography": {
    "version": ""
  },
  "idna": {
    "version": "2.9"
  },
  "implementation": {
    "name": "CPython",
    "version": "3.8.3"
  },
  "platform": {
    "release": "10",
    "system": "Windows"
  },
  "pyOpenSSL": {
    "openssl_version": "",
    "version": null
  },
  "requests": {
    "version": "2.23.0"
  },
  "system_ssl": {
    "version": "1010106f"
  },
  "urllib3": {
    "version": "1.25.9"
  },
  "using_pyopenssl": false
}
```

To the best of my knowledge the charset is optional and not required when handling utf-8 thus this is perfectly fine.

Of course it's optional; the concern is that this leaves ambiguity that the far end needs to resolve. Requests even says that

```
            # No encoding set. JSON RFC 4627 section 3 states we should expect
            # UTF-8, -16 or -32. Detect which one to use
```

So if the far end doesn't know which encoding to use, it's forced to guess. UTF-8 is a safe guess, but a guess nonetheless.


Right, but the JSON spec does not define `charset` and thus specifying this ever is a violation of the RFC. In other words, the specification says "It should always be Unicode" and there are ways to distinguish where necessary, so this project should emphatically not specify a charset.

Further ammunition: https://stackoverflow.com/questions/4990095/json-specification-and-usage-of-bom-charset-encoding

Ah, that's what I was missing. Thank you.