Hey @elasti-georgeg, thanks for opening this issue. I am able to reproduce the issue you've listed but only with a 204 response containing a "Transfer-Encoding: chunked" header.

[RFC 7230 § 3.3.1](https://tools.ietf.org/html/rfc7230#section-3.3.1) states:

>A server MUST NOT send a Transfer-Encoding header field in any
   response with a status code of 1xx (Informational) or 204 (No
   Content). 

This appears to be what is causing the ChunkedEncodingError which should be what we want in this scenario. Can you confirm you're receiving a Transfer-Encoding header? If that's the case, this is an issue that needs to be fixed with your Rails server.

The code below should allow you to perform the request without triggering the error. Just make sure you aren't calling `.content` on the response.
```python
s = requests.Session()
r = s.get(url, stream=True)
r.headers
```

@nateprewitt yes, they should fix that there, but we should also be able to tolerate this.

Hmm, so if a server says Transfer-Encoding: chunked but fails to use that encoding, can we reliably do anything other than raise an exception? The response only fails if it doesn't include `0\r\n` stating the body has ended, which I was under the impression is required. Requests doesn't explicitly prohibit a 204 with a chunked header, but does require the server to adhere to the encoding.

From Requests' end, we can do a forced `None` body for status codes that don't allow a body. That doesn't solve the core problem here though, which I don't know if we can do anything meaningful about.

Is httplib going to be able to tolerate this?

@Lukasa no, it won't because that's where the error is being raised from. httplib raises a IncompleteRead error of 0 bytes because the connection is terminated without sending anything.

Right, so it's very hard for us to tolerate this sensibly in the current codebase. 

We can probably close this out with the same reasoning in #3807, since we can't reasonably address this, and the exception is correct here.

Good catch @nateprewitt 