Thanks for this detailed report! This is a dupe of #3888: that has some discussions about how we might handle this if you're interested in supplying a patch. Additional suggestions on that thread would be welcomed if you don't like any of the proposed approaches. 

thanks for the quick reply! missed it when searching the issues.

Although its related to the Location header issue, when further digging into requests, I think it might be more of encoding issue.

looking at the following code (from [here](https://github.com/kennethreitz/requests/blob/master/requests/sessions.py#L122))

```python
            # Handle redirection without scheme (see: RFC 1808 Section 4)
            if url.startswith('//'):
                parsed_rurl = urlparse(resp.url)
                url = '%s:%s' % (parsed_rurl.scheme, url)
``` 

on python2, `urlparse(u'http://google.com').scheme` is a unicode string.
for `urlparse('http://google.com').scheme` is an str.

on python2, when the original URL is unicode, it is parsed as `str % (unicode, str)` and the error occurs.
on python3, it is parsed as `str % (str, str)` and all is fine.

IMHO, this specific issue (on  handling RFC1808) can be fixed by adding `to_native_string(parsed_rurl.scheme)`.

```python
            # Handle redirection without scheme (see: RFC 1808 Section 4)
            if url.startswith('//'):
                parsed_rurl = urlparse(resp.url)
                url = '%s:%s' % (to_native_string(parsed_rurl.scheme), url)
```

please tell me what you think, if you think it is relevant I can open some PR with the change and the test.

Thanks,
Shmulik

As #3888 notes, it's an encoding issue that affects headers generally: it just tends to manifest most noticeably here.

However, you're right that certain manifestations can be resolved by preventing an automatic decode of the header string on Python 2. I'd be willing to review and merge a PR for that failure that includes a test. 😁