Nope. =) Not all redirects preserve the verb: if the website in question wants to preserve the verb, they should use 307 or 308 instead.

Requests behaves like a browser when redirected. That means that it does the following:
- on 303, changes everything except HEAD/GET to GET, as specified in RFC 7231 Section 6.4.4
- on 302, changes everything except HEAD/GET to GET, as allowed by the note in RFC 7231 Section 6.4.3 and as done by browsers
- on 301, changes POST to GET, as allowed by the note in RFC 7231 Section 6.4.2 and as done by browsers
