Hi @skybobbi, the RFC linked is quite outdated. I believe you may have meant RFC 7231 section 6.4.2, which discusses changing POST to GET on redirect.

This behavior was implemented in Requests quite a while ago and is intentional. There is potential for malicious redirects to capture the contents of what you’re trying to send to another server. You’ll find this is implemented by every major browser and many http-related tools.

That said, we did revisit this a year or two ago and decided we’d scope the body stripping down to only POST requests per the RFC. This code is merged into the current 3.0 branch but won’t be released in the 2.X series due to it being a breaking change.

Thanks. 
As I understood, all request types except POST will save body on 301 redirects since 3.* version of requests. Am i right?

@skybobbi 3.0 has not been released yet, but yes, that is the functionality that is currently implemented on that branch.

If you need to handle this in the interim, you’ll need to handle the redirecting in your code. I would suggest looking at the SessionRedirectMixin in sessions.py

Thank you!