Looks likes this comes from urllib2

``` python
>>> import urllib2
>>> request = urllib2.Request('http://www.example.com/')
>>> request.get_method = lambda : 'HEAD'
>>> response = urllib2.urlopen(request)
>>> print response.info()
Date: Thu, 08 Sep 2011 13:38:22 GMT
Server: Apache
```


Actually, it comes from httplib.py L#317 where it breaks out of the header parsing. Unfortunately this status message isn't passed on from urllib2.py L#1177. Not sure if the behavior is specified in a RFC.


This is a bit out of scope — at least for now.

If someone wants to take the time to overload httplib's internal methods, I wouldn't mind adding the patch at all, but that will likely get complicated while supporting Python 2.5–3.3.


[RFC2616 section 4](http://tools.ietf.org/html/rfc2616#section-4) says field-name must be a token, so the header is malformed. 
The [section on tolerant applications](http://tools.ietf.org/html/rfc2616#section-19.3) only mentions line terminators, whitespace and date handling (the RFC was written in the pre-apocalyptic year of 1999)

The protocol gives the server all kinds of 4xx messages to point out epic client failz, but what is sane to do as a client?

"Be liberal in what you accept, and conservative in what you send"

But a malformed header could be a sign of more things mal. Maybe a "quirksmode" that silently tries to fix the servers intent (IE6 anyone?) and a strict-mode that raises warnings.


I'm currently porting the codebase to be powered by the wonderful `urllib3` project, which sits directly on top of httplib. This will make handing a case like this much easier.


I'm closing this ticket for being out of scope.

If the headers are being malformed, I think there are bigger issues at hand :)
